$background_color: #30475e;
$section_color: #30475e;
$header_color: #f05454;
$footer_color: #f05454;
$block_color: #f5f5f5;
$text_color: #121212;
$shadow_text_color: #f5f5f5;
$border_radius:10px;
$gap:1rem;
$big_font_size:32px;
$middle_text_size:16px;