[MESSAGES CONTROL]
disable=missing-module-docstring,
        missing-function-docstring,
        attribute-defined-outside-init,
        too-many-locals

[MASTER]
ignore=test
init-hook="from pylint.config import find_pylintrc; import os, sys; sys.path.append(os.path.dirname(find_pylintrc()))"
extension-pkg-whitelist=dependency_injector
