[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
pyyaml = "*"
aiopg = {extras = ["sa"], version = "*"}
psycopg2 = "*"
aiohttp-jinja2 = "*"
aiohttp-security = "*"
asyncpgsa = "*"
aioredis = "*"
bcrypt = "*"
gunicorn = "*"
alembic = "*"
beautifulsoup4 = "*"
pytest = "*"
aioresponses = "*"
aiohttp-session = {extras = ["aioredis"], version = "*"}
mypy = "*"
sqlalchemy = {extras = ["mypy"], version = "*"}
types-pyyaml = "*"
flake8 = "*"
black = "*"
pylint = "*"
aiohttp-debugtoolbar = "*"
dependency-injector = "*"
environs = "*"
pytest-asyncio = "*"
pytest-aiohttp = "*"
pytest-mock = "*"
coverage = "*"
redis = ">=4.2.0rc1"
faker = "*"
types-redis = "*"
aioschedule = "*"

[dev-packages]

[requires]
python_version = "3.10"
