[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
pyyaml = "*"
aiopg = {extras = ["sa"], version = "*"}
psycopg2 = "*"
aiohttp-jinja2 = "*"
aiohttp-security = "*"
asyncpgsa = "*"
aioredis = "*"
bcrypt = "*"
gunicorn = "*"
alembic = "*"
beautifulsoup4 = "*"
pytest = "*"
aioresponses = "*"
aiohttp-session = {extras = ["aioredis"], version = "*"}
mypy = "*"
sqlalchemy = {extras = ["mypy"], version = "*"}
types-pyyaml = "*"
flake8 = "*"
black = "*"
pylint = "*"

[dev-packages]
pytest = "*"
pylint = "*"
flake8 = "*"
black = "*"

[requires]
python_version = "3.10"
