* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* base */

.navbar {
 list-style: none;
    background-color: #000000; 
    text-align: center;
    margin: 0;
    top: 0;
    width: 100%;
    border-radius: 0px;
}

.nav-logo {
  text-decoration: none;
  user-select: none;
  float: left;
  color: #fff;
  font-size: 30px;
  padding-left: 0.5em;
  padding-top:5px;
}
.nav-links {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.nav li {
    line-height: 45px;
    height: 40px;
    border: none;
    color: #121212; 
    width: 140px;
    border-bottom: none;
    line-height: 50px;
    display: inline-block;
    text-transform: uppercase;
  }

.nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .5s background-color;
    border-radius: 5px;
    margin-right: 0px;
  }
.nav a:hover {
color: #80CBC4;
 font-weight: 500;
 margin-right: 0px;
 }
  

/* index */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;

}
.main-list {
  display: flex;
    flex-direction: column;
    align-items: center;
    width:900px;
}
.year-item {
  display: flex;
  flex-direction: column;
    align-items: center;
}
.month-item {
  display: flex;
  flex-direction:column;
    align-items: center;
    
}
.date-list {
  display: grid;
  grid-template-columns: repeat(4, 20px [col-start]);
  justify-items: center;
  gap:15px 15px;

}
.year {
  margin:20px;
}
.date {
  margin:10px;
}
.date a{
  text-decoration: none;
  color:black;
}

.months {
  display: grid;
  grid-template-columns: repeat(3, 200px [col-start]);
  justify-items: center;
  gap:15px 15px;
 
}

/* detail */
.item {
  display: flex;
  word-wrap: break-word;
    word-break: break-all;
    margin: 0 0 10px;
    padding:  10px;
    background: #fff;
    border: 2px solid #eee;
    width:100%;
}
.item >  *{
  padding-left:20px;
}
.rating {
  word-wrap: normal;
  word-break:normal;
  display: flex;
  align-items: center;
}
.image img {
  height: 160px;
  width:102px;
  object-fit: cover;
}