@use "../abstracts/variables";
@use "../abstracts/mixins";
.container {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
  gap: variables.$gap;
  grid-template-areas:
    "upper_box"
    "bottom_box";
  margin-left: 1rem;
  margin-right: 1rem;
}
.upper_box {
  grid-area: upper_box;
  display: grid;
  grid-template-columns: 0.4fr auto;
  gap: variables.$gap;
  grid-template-areas: "navigation base_menu_info";
  .base_menu_info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0.5rem;
    grid-template-areas:
      "name name"
      "tab_button tab_button2";
    .name {
      grid-area: name;
      display: table-cell;
      text-align: left;
      vertical-align: middle;
      @include mixins.block;
    }
    .tab_button {
      grid-area: tab_button;
      @include mixins.block;
    }
    .tab_button2 {
      grid-area: tab_button2;
      @include mixins.block;
    }
  }
}
.bottom_box {
  grid-area: bottom_box;
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(0, 1fr));
  grid-template-columns: repeat(2, 1fr);
  @include mixins.for-size(phone-only) {
    grid-template-columns: repeat(1, 1fr);
  }
  @include mixins.for-size(tablet-landscape-up) {
    grid-template-columns: repeat(1, 1fr);
  }
  @include mixins.for-size(tablet-portrait-up) {
    grid-template-columns: repeat(1, 1fr);
  }
  grid-auto-rows: max-content;
  gap: variables.$gap;
}
