.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;

}
.main-list {
  display: flex;
    flex-direction: column;
    align-items: center;
    width:900px;
}