@use "../abstracts/variables";
@use "../abstracts/mixins";
.nav {
  background-color: inherit;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  ul {
    display: inherit;
    list-style-type: none;
    gap: 3rem;
    margin: 0;
    padding: 1rem;
    font-size: variables.$font_size_big;
    @include mixins.font-size-mixin(20px,22px,25px,28px,32px);
    li {
      cursor: pointer;
      a {
        text-decoration: none;
        color: variables.$text_color;
        text-shadow: 1px 1px variables.$shadow_text_color;
      }
    }
  }
}
