@use "../abstracts/variables";
.container {
    display: grid;
    grid-template-columns: 0.4fr 0.6fr;
    grid-template-areas: "title_image main_info";
    background-color: variables.$block_color;
    border-radius: variables.$border_radius;
    z-index: 1;
    max-height: 250px;
}

.title_image {
    grid-area: title_image;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    margin: 0.5rem;
    img {
        object-fit: cover;
        width: 100%;
        border-radius: 10px;
        margin:1%;
    }
    .title_rating {
        text-align: center;
        background-color: variables.$block_color;
        border-radius: variables.$border_radius;
        padding: 10px;
        min-width:25px;
        position: absolute;
        top: -3%;
        left: -3%;
        color: variables.$text_color;
        font-size: variables.$big_font_size;
    }
}

.main_info {
    display: grid;
    grid-template-rows: 0.1fr 0.3fr 0.6fr;
    align-content: space-around;
    grid-template-areas:
        "title_name"
        "chart_info"
        "creators";
    grid-area: main_info;
    margin-left: 1.5rem;
}

.title_name {
    grid-area: title_name;
    width: 100%;
    h2 {
        text-align: left;
    }
}

.chart_info {
    display: grid;
    grid-template-columns: repeat(3, minmax(0px, 1fr));
    grid-template-areas: "release volume sales";
    grid-area: chart_info;
    justify-items: center;
    align-items: start;
    align-self: center;
    text-align: center;
    .release {
        grid-area: release;
    }
    .volume {
        grid-area: volume;
    }
    .sales {
        grid-area: sales;
    }
}

.creators {
    display: grid;
    grid-template-rows: repeat(2, minmax(0, 1fr));
    grid-template-areas:
        "authors_list"
        "publishers_list";
    grid-area: creators;
    align-items: center;
}

.authors_list {
    grid-area: authors_list;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

.publishers_list {
    grid-area: publishers_list;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}
