/* Note: This example only works with Windows Insider Preview Builds 16237+ or the Fall Creators Update. */
body {
  margin: 0;
}
.main-layout {
  margin: 0;
  font-family: Monospace, serif;
  display: grid;
  grid-template-areas:
    "header header header"
    "nav section aside"
    "footer footer footer";
  grid-template-rows: 65px 1fr 50px;
  grid-template-columns: 30% 1fr 30%;
}

header {
  grid-area: header;
}

nav {
  background-color: #f5f5f5;
  grid-area: nav;
}

section {
  grid-area: section;
  min-height: 100vh;
}

aside {
  background-color: #f5f5f5;
  grid-area: aside;
}

footer {
  background: #707070;
  grid-area: footer;
}
