{% extends "base.html" %}

{% block content %}
<div class="main">
    <h1>Manga sales</h1>
    <div class="main-list">
        {% for source in data %}
        <div class="item">
            <a href="/{{source.name|lower}}/">
                <div class="image">
                    <span>
                        <img src='{{source.image}}'>
                    </span>
                </div>
                <div class="wrap-text">
                    <h2 class="title">{{source.name}}</h2>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    {% endblock %}