.wide-items-list {
  display: grid;
  grid-auto-flow: row dense;
  grid-auto-rows: 1fr;
  grid-template-columns: 0.4fr 0.8fr;
  grid-template-rows: 0.5fr 0.5fr 0.5fr;
  gap: 0px 0px;
  grid-template-areas:
    "image title"
    "image description"
    "image links";
}
.title {
  color: rgb(0, 0, 0);
  font-size: 32px;
  grid-area: title;
  justify-self: start;
  align-self: center;
}
.image {
  position: relative;
  justify-self: center;
  align-self: center;
  object-fit: cover;
  grid-area: image;
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    object-fit: cover;
  }
}
.description {
  grid-area: description;
}
.link-wrapper {
  grid-area: links;
  justify-self: start;
  align-self: center;
}
.link-text {
  grid-area: link-welcome;
  justify-self: start;
  align-self: center;
}
.link {
  grid-area: list-links;
  width: 100%;

  display: flex;
  gap: 16px;

  justify-content: space-around;
  align-items: center;
  a {
    color: black;
    text-decoration: none;
  }
}
.source-type {
  transition: 0.5s ease;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.type {
  background-color: #000000;
  color: rgb(255, 255, 255);
  font-size: 16px;
  padding: 10px 32px;
  border: 1px white;
  a {
    color: white;
    text-decoration: none;
  }
}
