@use "../abstracts/variables";
.wave {
  fill: variables.$footer_color;
  position: absolute;
  bottom: 50px;
  height: 185px;
  width: 100%;
}
.wave2 {
  fill: rgb(223, 185, 185);
  position: absolute;
  bottom: 50px;
  height: 500px;
  width: 100%;
}
.wave3 {
  fill: rgb(185, 195, 223);
  position: absolute;
  bottom: 50px;
  height: 400px;
  width: 100%;
}
.waves {
  width: 100%;
  position: absolute;
}
.circle {
  svg {
    fill: variables.$footer_color;
    position: absolute;
    bottom: 80px;
  }
}