.container {
  display: grid;
  grid-template-columns: 0.1fr 0.3fr 0.6fr;
  grid-template-rows: 1fr;
  grid-auto-flow: row;
  grid-template-areas: "title_rating title_image main_info";
  background-color: white;
  border-radius: 10px;
}

.title_rating {
  grid-area: title_rating;
  justify-self: center;
  align-self: center;
  font-size: 2em;
}

.title_image {
  grid-area: title_image;
  overflow: hidden;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  margin-top:0.5rem;
  margin-bottom:0.5rem;
  align-items: stretch;
  img {
    object-fit: cover;
    width: 100%;
    height: 200px;

  }
}

.main_info {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 0.3fr 0.6fr;
  align-content: space-around;
  grid-auto-flow: row;
  grid-template-areas:
    "title_name"
    "chart_info"
    "creators";
  grid-area: main_info;
  margin-left: 1.5rem;
}

.title_name {
  grid-area: title_name;
  justify-self: center;
  align-content: center;
  width: 100%;
  h2 {
    text-align: left;
  }
}

.chart_info {
  display: grid;
  grid-template-columns: repeat(3, minmax(0px, 1fr));
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "release volume sales";
  grid-area: chart_info;
  justify-items: start;
  align-items: start;
  align-self: center;
}

.release {
  grid-area: release;
}

.volume {
  grid-area: volume;
}

.sales {
  grid-area: sales;
}

.creators {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, minmax(0, 1fr));
  grid-auto-flow: row;
  grid-template-areas:
    "authors_list"
    "publishers_list";
  grid-area: creators;
  align-items: center;
}

.authors_list {
  grid-area: authors_list;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

.publishers_list {
  grid-area: publishers_list;
}
